.col-md-4 {
  border-left: 1px solid #ccc;
}

.search-box {
  width: 400px;
  margin-bottom: 15px;
}

.search-list .media-object {
  width: 64px;
  height: 64px;
}

.search-list .media-heading span,
.get-info {
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.voted {
  background-color: #d9534f;
}

.search-tags {
  height: 22px;
}