<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无-ofo</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/demo.css">
</head>
<body>
  <%- include ../header.ejs %>

  <div class="container app-wrap">
    <div class="row">
      <div class="col-md-8">
        <div class="media app-info">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1fegcmzgnrrj203h03h0sj.jpg" alt="ofo">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">ofo 共享单车</h3>
            <p>ofo 共享单车首创“单车共享”模式是全球第一个无桩共享单车平台</p>
            <p class="media-text clearfix">
              Bikelock Technology CO., Ltd.
              <a href="###" class="btn btn-primary btn-xs pull-right">下载</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="app-info-right">
          <p>企业：北京拜克洛克科技有限公司</p>
          <p class="clearfix">
            创始人：戴威
            <% if (user && user.role === 'investor') { %>
              <a href="###" class="btn btn-primary btn-xs pull-right" onclick="alert('已向对方传达您的投资意愿，请留意站内消息！')">投资</a>
              <a href="###" class="btn btn-primary btn-xs pull-right">合作</a>
            <% } %>
          </p>
        </div>
      </div>
    </div>

    <h2>产品截图：</h2>

    <div class="app-slide-wrap clearfix">
      <div class="app-slide">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegd7vx03ij20k00zkq6g.jpg" alt="1">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegd8jlo73j20k00zk146.jpg" alt="2">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegderg0y2j20k00zk4a2.jpg" alt="3">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegdxa6gjlj20k00zkwsg.jpg" alt="4">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegdxq0uwhj20k00zkqnu.jpg" alt="5">
        <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fegdy0l8amj20db0npqhk.jpg" alt="6">
      </div>
    </div>

    <h2>产品信息：</h2>

    <div>
      <p>ofo共享单车，是全球创立最早、成长最快、规模最大的无桩共享单车创业公司，缔造了“共享单车”概念，致力于解决城市出行问题。</p>
      <p>ofo [2]  以“ofo 共享单车”为核心产品，基于移动 App和智能硬件开发，是目前中国规模最大的城市交通代步解决方案，为城市人群提供便捷经济、绿色低碳、更高效率的城市共享单车出行服务。</p>
      <p>同时，ofo 提出城市大共享计划，把自己的自行车共享出来的市民，将获得 ofo 平台所有车辆的使用权，以1换N。根据 ofo 在学校共享师生自行车的经验，此举将有效调动存量市场，提升闲置自行车使用效率，为城市节省更多空间。</p>
      <p>2016年12月23日，共享单车平台ofo宣布，将在硅谷、伦敦等地开启城市服务试运营。</p>
      <p>自2015年6月上线以来，已成为国内规模最大、覆盖最广、市场占有率最高的共享单车平台，连接单车超过220万辆，覆盖全国43个城市，为超过3000万用户累计提供超过4亿次出行服务。</p>
    </div>

    <hr>

    <div class="clearfix app-footer">
      <a href="###" class="btn btn-primary pull-right">对我没有帮助</a>    
      <a href="###" class="btn btn-primary pull-right">对我有帮助</a>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>