<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台操作系统</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bgo/index.css">
</head>
<body>
  <div class="container">

      <form class="sign-in" _lpchecked="1">
        <h2 class="form-signin-heading">后台操作系统</h2>
        <input type="text" id="inputUsername" class="form-control" placeholder="用户名" required autofocus="" autocomplete="off">
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required autocomplete="off">

        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>

    </div>
</body>
</html>