<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/index.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <div class="input-group search-box">
      <input type="text" class="form-control" placeholder="大家都在搜人工智能">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" type="button">搜索</button>
      </span>
    </div>
    <div class="hot-box">
      热门搜索：
      <a href="#" class="label label-danger">人工智能</a>
      <a href="#" class="label label-danger">机器学习</a>
      <a href="#" class="label label-danger">神经网络算法</a>
      <a href="#" class="label label-danger">大数据</a>
      <a href="#" class="label label-danger">穿衣搭配</a>
    </div>
    <div class="row production-box">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fefku0vdl6j20a706q0wb.jpg" alt="饿了么">
          <div class="caption">
            <h3>饿了么</h3>
            <p>快速搜罗附近外卖，不用打电话直接预订。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fefkxqyq37j20ax077my2.jpg" alt="美团外卖">
          <div class="caption">
            <h3>美团外卖</h3>
            <p>附近美食，全国各地特色美食。品质外卖，品牌餐厅干净放心。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fefkznioihj209905lmzz.jpg" alt="校园文化">
          <div class="caption">
            <h3>校园文化</h3>
            <p>打造一个丰富的校园文化市场，因为我发现学生和学校之间缺少一个载体来传播和发展具有自己校园特色的精神文化。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>