<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p><a href="/bgo/data">点击我进入数据录入页面</a></p>
  </body>
</html>
