<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <form action="/user" method="post">
      <input type="text" name="username">
      <input type="text" name="password">
      <button type="submit">提交</button>
    </form>
  </body>
</html>
