<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/index.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <h1 class="search-title" id="js-title"></h1>
    <form action="/search" method="get">
      <div class="input-group search-box">
        <input type="text" class="form-control" name="q" placeholder="大家都在搜人工智能">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">搜索</button>
        </span>
      </div>
    </form>
    <div class="hot-box">
      热门搜索：
      <a href="/search?q=人工智能" class="label label-danger">人工智能</a>
      <a href="/search?q=共享单车" class="label label-danger">共享单车</a>
      <a href="/search?q=遗失归还" class="label label-danger">遗失归还</a>
      <a href="/search?q=自助热汤面" class="label label-danger">自助热汤面</a>
    </div>
    <div class="row production-box">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1feg9mzw0rej203y03rjrc.jpg" alt="跑夫Runfu">
          <div class="caption">
            <h3>居住空间扩张计划</h3>
            <p>最新热门的跑步APP，用金钱刺激运动神经。存入押金，每天规定运动量，完成运动量获得奖金，没有完成则扣除相应的百分比押金。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1feg9o7krpaj2036039jri.jpg" alt="美团外卖">
          <div class="caption">
            <h3>不会搭配</h3>
            <p>针对女性挑选及试穿衣服麻烦、耗时长的痛点，打造一个能存储女性身着每件衣服模样、能自动搭配拥有的各种衣服、能自动为每种搭建议适合穿的场景app。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://ww1.sinaimg.cn/large/6d693dfegy1fefkznioihj209905lmzz.jpg" alt="校园文化">
          <div class="caption">
            <h3>校园文化</h3>
            <p>打造一个丰富的校园文化市场，因为我发现学生和学校之间缺少一个载体来传播和发展具有自己校园特色的精神文化。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/theater.min.js"></script>
  <script>
    $(function() {
      var theater = theaterJS()

      theater
        .addActor('js-title')      
        .addScene('js-title:你在或不在，未来已来！', 500)
    })
  </script>
</body>
</html>