<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/login.css">
  <title>有无-登录</title>
</head>
<body>
  <div class="container">
    <div class="login-box">
      <a href="/"><img src="/image/logo.png" alt="" class="logo"></a>
      <form class="login-form" method="post" action="">
        <div class="form-group" data-toggle="validator">
          <input type="text" name="username" class="form-control" placeholder="用户名" required>
          <input type="password" name="password" class="form-control" placeholder="密码" required>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-lg btn-block">登 录</button>
      <div class="login-other">
        <a href="###">忘记密码？</a>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/validator.min.js"></script>
</body>
</html>