<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/question.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <div class="question-box">
      <h3>我国对电商征税吗？电商税务征管目前存在哪些问题和不足？</h3>
      <p class="question-owner">提问者：程天蓝，日期：2015-01-10</p>
      <p>
        唉。我国不对电商征税吗？ 当然要征！现在生活中，为什么这部分的征管不能到位呢？ 多种原因。 1. 电商征税从技术上有难度吗？没有，数据采集容易，征税成本低。2. 税务机关该收吗？ 该收。3. 现实中有征税的案例吗？当然有！比如武汉国税曾经是对电商。
      </p>
    </div>

    <div class="rows answer-wrap">
      <div class="col-md-8">        
        <div class="answer-box">
          <h4>回答者：程天蓝</h4>
          <div class="content">
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
            谢邀。我觉得我看了个假会……
            3月31日这个会，是税总和工商联共同开的，议题是《深化税收改革，助力民营企业发展》，参会企业有阿里巴巴集团，红豆集团，吉利集团，京东集团等9家企业……
          </div>
          <div class="answer-operation">
            <button class="btn btn-defualt" type="button">
              <i class="glyphicon glyphicon-baby-formula"></i> <span class="badge">4</span>
            </button>
            <button class="btn btn-defualt" type="button">
              <i class="glyphicon glyphicon-share"></i> 分享
            </button>
            <button class="btn btn-default" type="button">举报</button>
          </div>
        </div>

        <div class="question-reply-in-detail">
          <textarea name="" id="" cols="10" rows="3" class="form-control" placeholder="请输入您的回复"></textarea>
          <button type="button" class="btn btn-primary">提交</button>
        </div>
      </div>
      <div class="col-md-4">
        <p>推荐信息</p>
        <% for (var i = 0; i < 4; i += 1) {%>
          <div class="question-box">
            <h4><a href="###">我国对电商征税吗？电商税务征管目前存在哪些问题和不足？</a></h4>
            <p class="question-owner">提问者：程天蓝，日期：2015-01-10</p>
            <p>
              唉。我国不对电商征税吗？ 当然要征！现在生活中，为什么这部分的征管不能到位呢？ 多种原因。 1.…
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>