<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无-搜索结果</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/search.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-8" id="js-search">
        <form action="/search" method="get">
          <div class="input-group search-box">
            <input type="text" class="form-control" name="q" placeholder="大家都在搜人工智能">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">搜索</button>
            </span>
          </div>
        </form>

        <% if (data.docs.length) { %>
          <%- include search_list.ejs %>
        <% } else { %>
          <div class="alert alert-info">暂无数据！</div>
          <% if (user) { %>
            <div class="panel panel-default">
              <div class="panel-heading">没有你想要的数据？那么请发出的你的痛点和需求吧！</div>
              <div class="panel-body">
                <form data-toggle="validator" method="post" action="/question">
                  <div class="form-group">
                    <label for="title">标题（必填）</label>
                    <input type="text" name="title" class="form-control" id="title" data-minlength="5" maxlength="30" placeholder="字数30以内" required>
                  </div>
                  <div class="form-group">
                    <label for="content">详细描述</label>
                    <textarea name="content" id="" cols="30" rows="4" class="form-control" maxlength="150" placeholder="字数150以内"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">提 交</button>
                </form>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-4">
        <p>相关信息</p>
        <%- include search_list_right.ejs %>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/validator.min.js"></script>
  <script>
    $(function () {
      $('#js-search').on('click', '.js-vote', function () {
        $(this).toggleClass('voted')
      })
    })
  </script>
</body>
</html>