<div class="media search-list">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1fefkznioihj209905lmzz.jpg" alt="校园文化">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="###">校园文化</a></h4>
    <p>
      打造一个丰富的校园文化市场，因为我发现学生和学校之...
    </p>
  </div>
</div>
<div class="media search-list">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1feg9me7ksij207e07eju9.jpg" alt="居住空间扩张计划">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="###">居住空间扩张计划</a></h4>
    <p>
      本项目致力于通过机械手段，增大宿舍可利用可活动空间，提高空间利用率，改善住宿...
    </p>
  </div>
</div>
<div class="media search-list">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1feg9mzw0rej203y03rjrc.jpg" alt="跑夫Runfu">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="###">居住空间扩张计划</a></h4>
    <p>
      最新热门的跑步APP，用金钱刺激运动神经。存入押金，每天规定运动量，完成运动量获得奖...
    </p>
  </div>
</div>
<div class="media search-list">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1feg9o7krpaj2036039jri.jpg" alt="快速挑衣项目">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="###">快速挑衣项目</a></h4>
    <p>
      针对女性挑选及试穿衣服麻烦、耗时长的痛点，打造一个能存储女性身着每件衣服模样、能...
    </p>
  </div>
</div>