<% for(var i = 0; i < 4; i++) { %>
  <div class="media search-list">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://ww1.sinaimg.cn/large/6d693dfegy1fefkznioihj209905lmzz.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="###">校园文化</a></h4>
      <p>
        打造一个丰富的校园文化市场，因为我发现学生和学校之...
      </p>
    </div>
  </div>
<% } %>